[submodule "Odometry"]
	path = Odometry
	url = https://github.com/kanetkarster/DPM-Winter-2014-Lab-2.git
[submodule "Navigation"]
	path = Navigation
	url = https://github.com/kanetkarster/DPM-Lab-3-Group-21.git
[submodule "Localization"]
	path = Localization
	url = https://github.com/kanetkarster/DPM-Group21-Lab4-Localization.git
[submodule "Block-Detecton/Lab5"]
	path = Block-Detecton/Lab5
	url = https://github.com/kanetkarster/BlockDetection.git
